.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 75px;
  background-color: darkblue;
  height: 100vh;

  > h1 {
    padding-bottom: 64px;
    color: #fff;
  }
}
